* {
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: white;
  margin-top: 15px;
}

img {
  width: 15rem;
  padding: 20px;
}

.btn {
  font-size: 1.5rem;
}

.container {
  margin-top: 3em;
  width: 50rem;
}

.row {
  width: 40em;
}
